openai
azure-search-documents
azure-storage-blob
azure-identity
python-dotenv
pypdf
fastapi
uvicorn
langchain
azure-ai-projects
pypdf 
langchain_community
langchain_text_splitters
langchain_openai
langchain_core
pathlib 
chunker 
requests
azure-ai-textanalytics
azure-identity 
azure-storage-blob